<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Screen 8</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="./css/screen8.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/reset.css" />
  </head>

  <body>
    <div id="logo">
      <img
        src="https://cdn.glitch.com/6999fe10-c133-4470-b480-780aa9de72f8%2FLogo.png?v=1590555056630"
        alt=""
      />
    </div>
    <section id="another-search">
      <p>Search for existing items</p>
      <input type="text" name="" id="another-search-input" />
    </section>
    <main>
      <div id="found-box">
        <div id="date-time-input">
          <p>Date & Time</p>
          <div class="inputs">
            <input
              type="date"
              id="start1"
              name="trip-start"
              min="2018-01-01"
              max= "2022-12-31"
            />
            <input
              type="time"
              id="appt1"
              name="appt"
              min="00:00"
              max="24:00"
              required
            />
          </div>
          <span>to</span>
          <div class="inputs">
            <input
              type="date"
              id="start2"
              name="trip-start"
              min="2018-01-01"
              max="2022-12-31"
            />
            <input
              type="time"
              id="appt2"
              name="appt"
              min="00:00"
              max="24:00"
              required
            />
          </div>
        </div>
        <div id="category-input">
          <p>Category</p>
          <!-- <label for="">Category</label> -->
          <input type="text" list="choices" id="category-name" />
          <datalist id="choices">
            <option value="Electronics"> </option>
            <option value="School Supplies & Textbooks"> </option>
            <option value="Health & Beauty"> </option>
            <option value="Pets"> </option>
            <option value="Sporting Goods"> </option>
            <option value="Others"> </option>
          </datalist>
        </div>
        <div id="location-input">
          <p>Location</p>
          <input
            type="text"
            id="search-input"
            onkeypress="if(event.keyCode === 13)search();"
          />
        </div>
        <div id="map"></div>
        <button id="submit-search">Search</button>
      </div>
    </main>
  </body>
  <script src="./js/screen8.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApU7QqFx2zJGCQ-6cc-LCZXw6K4os93mo&callback=initMap&libraries=places&v=weekly"
    defer
  ></script>
</html>

