<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Screen 10</title>
    <link rel="stylesheet" href="./css/screen10.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/reset.css" />
  </head>

  <body>
    <div id="logo">
      <img
        src="https://cdn.glitch.com/6999fe10-c133-4470-b480-780aa9de72f8%2FLogo.png?v=1590555056630"
        alt=""
      />
    </div>

    <main>
      <p>Showing results for</p>
      <div id="databaseInfoContainer">
        <div id="dbInfo">
          <p id="searchInfo"></p>
          <button id="edit-search">Edit Search</button>
        </div>
      </div>

      <div id="resultContainer">
      </div>
    </main>
  </body>
  <script src="./js/screen10.js" defer></script>
</html>
