* { box-sizing: border-box;}

body {
  margin: 0px 0px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  background-color: #365c85;
}

main {
  margin: auto;
  width: 100%;
}
  


#splashContainer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#imgContainer {
  width: 50%;
  height: 100vh;
  background-image: url('https://cdn.glitch.com/6999fe10-c133-4470-b480-780aa9de72f8%2FShields-entrance_Credit-Hector-Villicana_1924x1282-960x600-c-center.jpg?v=1590555064070');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


img#LibraryImage {
  width: 100%;
}

#infoContainer{
  width: 50%;
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
  margin: 5%;
}

img#LogoImage {
  width: 80%;
  height: 80%;
  margin-bottom: 8%;
}

#loginContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  height: 50px;
  width: 250px;
  cursor: pointer;
  align-items: center;
}

img#LoginImage {
  max-width: 50px;
}

#loginButton {
  background-color: white;
  font-size: 20px;
  border: none;
  color: #365c85;
}
#errorMessage{
  display: none;
  color: red;
  font-size: 20px;
  padding: 20px;
}

/* mobile screen*/
@media (max-width: 600px) {
  #splashContainer{
    flex-direction: column;
  }
  
  img#LibraryImage {
  width: 100%;
  }


  #imgContainer{
    width: 100%;
    height: 40vh;
  }
  
  #loginButton  >span{
    font-size: 25px;
  }
  #infoContainer > a >button{
    height: 60px;
    width: 300px;
  }
  #infoContainer{
    width: fit-content;
    margin-bottom: 10%;
  }
  #LogoImage {
    margin-top: 10%;
  }

}

@media(max-width:768px){
  #loginContainer{
    width:235px;
    height: 45px;
  }
}

@media(max-width:1000px){
  img#LogoImage {
    width: 90%;
    height: 80%;
  }

}